* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --time: 10s;
    --half-time: calc(var(--time) / 2);
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main-road {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        width: 100%;
        height: 300px;
        background-color: #686868;
    }

    &::before {
        content: "";
        width: 100%;
        height: 6px;
        border: 6px solid goldenrod;
        position: absolute;
    }
}

.cross-road {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    &::after {
        content: "";
        width: 300px;
        height: 100vh;
        background-color: #686868;
    }

    &::before {
        content: "";
        height: 100vh;
        width: 6px;
        border: 6px solid goldenrod;
        position: absolute;
        z-index: 100;
    }
}

.traffic-lights {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.tlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.light {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: brightness(30%);
    border: 1px solid black;
}

.light:nth-child(1) {
    background-color: red;

}

.light:nth-child(2) {
    background-color: yellow;
}

.light:nth-child(3) {
    background-color: limegreen;
}

.mt-lights {
    width: 440px;
    height: 560px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .tlight {
        width: 60px;
        height: 120px;
        border: 1px solid black;
        background-color: #464646;
        transform: rotate(180deg);

        .light:nth-child(1) {
            animation: RedLight var(--time) linear infinite normal backwards;
        }

        .light:nth-child(2) {
            animation: YellowLight var(--time) linear infinite normal backwards;
        }

        .light:nth-child(3) {
            animation: GreenLight var(--time) linear infinite normal backwards;
        }
    }

    .tlight:nth-child(2) {
        align-self: flex-end;
        align-content: end;
        transform: rotate(0deg);
    }
}

.ct-lights {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    position: absolute;

    .tlight {
        width: 60px;
        height: 120px;
        border: 1px solid black;
        background-color: #464646;
        transform: rotate(-90deg);

        .light:nth-child(1) {
            animation: RedLight var(--time) linear var(--half-time) infinite normal backwards;
        }

        .light:nth-child(2) {
            animation: YellowLight var(--time) linear var(--half-time) infinite normal backwards;
        }

        .light:nth-child(3) {
            animation: GreenLight var(--time) linear var(--half-time) infinite normal backwards;
        }
    }

    .tlight:nth-child(1) {
        align-self: flex-end;
        align-content: end;
        transform: rotate(90deg);
    }
}

@keyframes RedLight {
    0% {
        filter: brightness(30%);
        box-shadow: none;
    }

    49% {
        filter: brightness(30%);
        box-shadow: none;
    }

    50% {
        filter: brightness(100%);
        box-shadow: 0px 0px 16px crimson;
    }

    100% {
        filter: brightness(100%);
        ox-shadow: 0px 0px 16px crimson;
    }
}

@keyframes YellowLight {
    0% {
        filter: brightness(30%);
        box-shadow: none;
    }

    39% {
        filter: brightness(30%);
        box-shadow: none;
    }

    40% {
        filter: brightness(100%);
        box-shadow: 0px 0px 16px yellow;
    }

    49% {
        filter: brightness(100%);
        box-shadow: 0px 0px 16px yellow;
    }

    50% {
        filter: brightness(30%);
        box-shadow: none;
    }

    100% {
        filter: brightness(30%);
        box-shadow: none;
    }
}

@keyframes GreenLight {
    0% {
        filter: brightness(100%);
        box-shadow: 0px 0px 16px lime;
    }

    39% {
        filter: brightness(100%);
        box-shadow: 0px 0px 16px lime;
    }

    40% {
        filter: brightness(30%);
        box-shadow: none;
    }

    100% {
        filter: brightness(30%);
        box-shadow: none;
    }
}

.xing {
    width: 324px;
    height: 324px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 20px;

    div {
        width: 150px;
        height: 150px;

    }

    .mesh {
        width: 300px;
        height: 300px;
        background-color: #686868;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        background-image: url(../assets/mesh.svg);

    }

    div:nth-child(1) {
        border-top: 10px solid white;
    }

    div:nth-child(2) {
        border-right: 10px solid white;
    }

    div:nth-child(3) {
        border-left: 10px solid white;
    }

    div:nth-child(4) {
        border-bottom: 10px solid white;
    }
}

.cars {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}

.car-m-ltr,
.car-m-rtl {
    width: 100px;
    height: 220px;

    img {
        width: 100%;
        display: block;
    }
}

.car-m-ltr {
    position: absolute;
    left: calc(50% + 24px);
    top: calc(50% + 200px);
    display: flex;
    flex-direction: column;
    gap: 100px;
    animation: carBTT var(--time) linear var(--half-time) infinite backwards;
}

.car-m-rtl {
    position: absolute;
    left: calc(50% - 124px);
    top: calc(50% - 740px);
    display: flex;
    flex-direction: column;
    gap: 100px;
    animation: carTTB var(--time) linear var(--half-time) infinite backwards;

    img {
        transform: rotate(180deg);
    }
}

@keyframes carBTT {
    0% {
        display: flex;
        top: calc(50% + 200px);
    }

    39% {
        top: calc(50% + 200px);
        display: flex;
    }

    40% {
        top: calc(50% + 200px);
        display: flex;
    }

    79% {
        top: calc(0% - 600px);
        display: none;
    }

    80% {
        top: calc(100% + 600px);
        display: none;
    }

    100% {
        display: flex;
        top: calc(50% + 200px);
    }
}

@keyframes carTTB {
    0% {
        display: flex;
        top: calc(50% - 740px);
    }

    39% {
        top: calc(50% - 740px);
        display: flex;
    }

    40% {
        top: calc(50% - 740px);
        display: flex;
    }

    79% {
        top: calc(100% + 600px);
        display: none;
    }

    80% {
        top: calc(0% - 740px);
        display: none;
    }

    100% {
        display: flex;
        top: calc(50% - 740px);
    }
}

.car-c-btt,
.car-c-ttb {
    width: 220px;
    height: 100px;

    img {
        width: 100%;
        display: block;
    }
}

.car-c-btt {
    position: absolute;
    top: calc(50% + 24px);
    right: calc(50% + 180px);
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    animation: carLTR var(--time) linear infinite;
}

.car-c-ttb {
    position: absolute;
    top: calc(50% - 124px);
    left: calc(50% + 180px);
    display: flex;
    gap: 120px;
    animation: carRTL var(--time) linear infinite;

    img {
        transform: rotate(180deg);
    }
}

@keyframes carLTR {
    0% {
        display: flex;
        right: calc(50% + 180px);
    }

    49% {
        right: calc(50% + 180px);
        display: flex;
    }

    50% {
        right: calc(50% + 180px);
        display: flex;
    }

    89% {
        right: -600px;
        display: none;
    }

    90% {
        right: 100%;
        display: none;
    }

    100% {
        display: flex;
        right: calc(50% + 180px);
    }
}

@keyframes carRTL {
    0% {
        display: flex;
        left: calc(50% + 180px);
    }

    49% {
        left: calc(50% + 180px);
        display: flex;
    }

    50% {
        left: calc(50% + 180px);
        display: flex;
    }

    89% {
        left: -600px;
        display: none;
    }

    90% {
        left: 100%;
        display: none;
    }

    100% {
        display: flex;
        left: calc(50% + 180px);
    }
}